* {
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	text-decoration: none;
}

body {
	margin: 0;
}

h2{
	font-weight: normal;
	line-height: 0.2em;
	font-size: 40px;
	text-decoration: none;
	margin-bottom: 0.5em;
}

h3{
	font-weight: normal;
	line-height: 0.2em;
	font-size: 32px;
	text-decoration: none;
	margin-bottom: 0.5em;
}

a, a:link, a:visited, a:hover, a:active{
	font-weight: normal;
	line-height: 1.3em;
	font-size: 22px;
	color: black;
	text-decoration: none;
}

.modal-opener {
	line-height: 1.3em;
	font-size: 22px;
	color: black;
	border: 0;
	background: none;
	display: block;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.container{
	width: 80%;
	margin: auto;
}

.box-1{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.box-2{
	padding-top: 10px; 
	text-align: center;
}

.box-3{
	padding-top: 10px; 
}

.box-4{
	width: 100%;
}

/* The Modal (background) */
#modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
	display: flex;
	align-content: center;
	justify-content: center;
}

/*.button {
	margin-left: 10em;
	padding-left: 10em;
}*/

.iframe {
	display: block;
	margin: 0 auto;
	border: 0;
	width: 80%;
	height: 80%;
	/*max-width: 600px;*/
	/*padding: 20px;*/
	margin-top: 20px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}